{% extends 'base.html' %}

{% block content %}
<style>

#inside {
    width:75%;
    border: 3px solid #ddd;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#left-td{
    width:25%;
}
#sorry-div{
    width:50%;
    border: 3px solid #ddd;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>

     &emsp;&emsp;&emsp;<h1> Deals</h1> <a href="/" class="grp-state-focus addlink">Back</a></br>

<div id="inside">
    <table id="customers">

        <tr><th>User Info:</th><th></th></tr>
        <tr>
            <td id="left-td"><strong>Persona Type:</strong></td>
            <td>{{deal.userInfo.persona.personaType}}</td>
        </tr>
        <tr>
            <td id="left-td"><strong>User ID:</strong></td>
            <td>{{deal.userInfo.userId}}</td>
        </tr>
    </table>
</div>
</br></br>

<div id="inside">
    <table id="customers">
        <tr><th>Offer Info: </th><th></th></tr>
        {% for i, l in deal.offerInfo.items %}
            <tr>
                <td id="left-td"><strong>{{ i }}: &emsp;</strong></td>
                <td>{{ l }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% if deal.offers.Hotel|length != 0 %}
<h3>Offers Details ({{ deal.offers.Hotel|length }} offers):</h3>
{% for offer in deal.offers.Hotel %}

</br>
<div id="inside">
    <h4>Offer #{{ forloop.counter }}:</h4>
    {% for key, val in offer.items %}
    <table id="customers">
            <tr><th><strong>{{ key }}</strong></th><th></th></tr>
        {% for k, v in val.items %}
        {% if k == "hotelImageUrl" %}
            <tr>
                <td id="left-td"><span> Hotel Image: &emsp;</span></td>
                <td><a href="{{ v }}"><img src="{{ v }}" /></a></td>
            </tr>
        {% elif "Url" in k %}
            <tr>
                <td id="left-td"><span>{{ k }}: &emsp;</span></td>
                <td><a href="{{ v }}" > Link </a></td>
            </tr>
        {% else %}
            <tr>
                <td id="left-td"><span>{{ k }}: &emsp;</span></td>
                <td><span>{{ v }}</span></td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>

        {% endfor %}

</div>
</br>
{% endfor %}

{% else %}
</br></br>
<div id="sorry-div">
</br>
<h3> &emsp;Sorry! No results have been found! </h3>
<h3> &emsp;Try using different search parameters. </h3>
    <strong> &emsp;<a href="/"> <- Back </a> </strong>
</br>
</div>
{% endif %}
{% endblock %}